<div>
  <strong>Comment:</strong>
  <div > By: <%= comment.user.nickname %></div>
  <div id="user_id" class="d-none"> <%= comment.user.id %></div>
  <div> <%= comment.body %></div>
</div>
<p>

  <% if current_user.id == comment.user_id %>
    <%= link_to 'Destroy Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  <%end %>

</p>