commands:
  install_nodejs:
    command: |
      curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -
      yum install -y nodejs
  install_yarn:
    command: |
      curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | tee /etc/yum.repos.d/yarn.repo
      yum install -y yarn