<h1>Users#index</h1>
<h1>This shows a list of all users</h1>
<p>Find me in app/views/users/index.html.erb</p>

<!--TODO: make sure a a user cannot add two times a friend-->
<% @users.each do |user| %>
  <% if user.email != current_user.email  %>
  <%=h user.email %>
  <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
  <% end %>
<% end %>