<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1>This show the personal profile of the current user</h1>
<h2>Friends</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%=h friendship.friend.email %>
      - <%= link_to "remove", friendship, :method => :delete %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Find New Friends", users_path %></p>