
<footer class="page-footer fixed-bottom page-footer-dark bg-dark margin-top-100">
  <meta charset="UTF-8">
  <div class="footer-copyright text-center py-4 text-white">© 2021 Copyright:
    <a> Made with &#128151 by Antisocial at UC Santa Barbara</a>
  </div>
</footer>