<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand">noGram</a>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">logIn</button>
        </form>
  </div>
</nav>