<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">

<!--            <div class="text-center mb-4 pb-2">-->
<!--              <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-quotes/bulb.png" alt="Bulb" width="100">-->
<!--            </div>-->

            <figure class="text-center mb-0">
              <blockquote class="blockquote">
                <p class="pb-3">
                  <i class="fas fa-quote-left fa-xs text-primary"></i>
                  <span class="lead font-italic">
                    Social media has become an indispensable part of our lives. It has penetrated a lot of sectors and influenced billions of lives. With such a trend, it is essential to keep both privacy issues and increasing demand in mind. For our project, we decided to implement a simple social network yet complex enough from a development point of view, allowing us to explore the fascinating tasks related to building scalable web services. Nogram is a social network implemented with Ruby on Rails and with a PostgresSQL database. To gain knowledge pertaining to scalability, we performed various load testing with Tsung. Load testing has been performed incrementally across Nogram and impacted how newer versions were designed and developed to better deal with incrementing traffic.
                  </span>
                  <i class="fas fa-quote-right fa-xs text-primary"></i>
                </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0">
                Elon Musk
              </figcaption>
            </figure>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>